<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbqd.mapper.CsStoreImageMapper">
  <resultMap id="BaseResultMap" type="com.gbqd.pojo.goods.CsStoreImage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="image_title" jdbcType="VARCHAR" property="imageTitle" />
    <result column="image_desc" jdbcType="VARCHAR" property="imageDesc" />
    <result column="create_member_id" jdbcType="VARCHAR" property="createMemberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, group_id, image_url, image_title, image_desc, create_member_id, create_time
  </sql>

  <select id="getCsStoreImageList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cs_store_image
    where group_id = #{groupId,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cs_store_image
    where id = #{id,jdbcType=BIGINT}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cs_store_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gbqd.pojo.goods.CsStoreImage">
    insert into cs_store_image (id, store_id, group_id, 
      image_url, image_title, image_desc, 
      create_member_id, create_time)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, 
      #{imageUrl,jdbcType=VARCHAR}, #{imageTitle,jdbcType=VARCHAR}, #{imageDesc,jdbcType=VARCHAR}, 
      #{createMemberId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gbqd.pojo.goods.CsStoreImage">
    insert into cs_store_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="imageTitle != null">
        image_title,
      </if>
      <if test="imageDesc != null">
        image_desc,
      </if>
      <if test="createMemberId != null">
        create_member_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageTitle != null">
        #{imageTitle,jdbcType=VARCHAR},
      </if>
      <if test="imageDesc != null">
        #{imageDesc,jdbcType=VARCHAR},
      </if>
      <if test="createMemberId != null">
        #{createMemberId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gbqd.pojo.goods.CsStoreImage">
    update cs_store_image
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageTitle != null">
        image_title = #{imageTitle,jdbcType=VARCHAR},
      </if>
      <if test="imageDesc != null">
        image_desc = #{imageDesc,jdbcType=VARCHAR},
      </if>
      <if test="createMemberId != null">
        create_member_id = #{createMemberId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gbqd.pojo.goods.CsStoreImage">
    update cs_store_image
    set store_id = #{storeId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      image_title = #{imageTitle,jdbcType=VARCHAR},
      image_desc = #{imageDesc,jdbcType=VARCHAR},
      create_member_id = #{createMemberId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>